:root {
	--bg-loading: hsl(0, 0%, 100%);
	--main-font: 'Press Start 2P', monospace;
	--pokemon-black: hsl(0, 0%, 0%);
	--pokemon-blue: hsl(210, 100%, 56%);
	--pokemon-brown: hsl(25, 76%, 31%);
	--pokemon-gold: hsl(43, 74%, 49%);
	--pokemon-gray: hsl(210, 13%, 50%);
	--pokemon-green: hsl(146, 50%, 36%);
	--pokemon-light-blue: hsl(195, 100%, 65%);
	--pokemon-orange: hsl(33, 100%, 50%);
	--pokemon-pink: hsl(351, 100%, 86%);
	--pokemon-purple: hsl(260, 60%, 65%);
	--pokemon-red: hsl(348, 83%, 47%);
	--pokemon-white: hsl(0, 0%, 96%);
	--pokemon-yellow: hsl(51, 100%, 50%);
}
